* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --textColor: white;
  --bgColorHF: #002d62;
  --bgColor: #7cb9e8;
  --fontStyle: monospace;
  --headerFSize: 44px;
  --footerFSize: 20px;
  --taskCounterSize: 26px;
  --taskNameSize: 24px;
  --iconSize: 22px;
  --plusIconSize: 28px;
}

body {
  background-color: var(--bgColor);
  font-family: var(--fontStyle);
}

header {
  text-align: center;
  font-size: var(--headerFSize);
  font-weight: bold;
  background-color: var(--bgColorHF);
  color: var(--textColor);
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  text-align: center;
  font-size: var(--footerFSize);
  background-color: var(--bgColorHF);
  color: var(--textColor);
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 50%;
  height: 70vh;
  outline: 5px solid var(--bgColorHF);
  background-color: white;
  overflow-y: auto;
  overflow-wrap: break-word;
}

/* Removing button element's default background */
button {
  border: none;
  outline: none;
  background: none;
  /* Removing button element's default background */
}

/* scrollbar styling*/
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgColorHF);
}
/* scrollbar styling*/

.taskCounter {
  font-size: var(--taskCounterSize);
  padding: 5px 0;
  text-align: center;
  width: 50%;
  outline: 5px solid var(--bgColorHF);
  background-color: var(--bgColorHF);
  color: var(--textColor);
}

.taskAdd {
  width: 98%;
  margin: 8px auto;
  display: flex;
}

input {
  font-family: var(--fontStyle);
  font-size: var(--taskNameSize);
  padding: 10px;
  flex: 90%;
}

.add {
  font-size: var(--plusIconSize);
  background-color: var(--bgColorHF);
  color: var(--textColor);
  flex: 10%;
}

li {
  margin: 8px 5px;
  list-style-type: none;
  display: flex;
}

.taskName {
  background-color: #002d62;
  flex: 88%;
  font-size: var(--taskNameSize);
  color: var(--textColor);
  padding: 5px 10px;
}

.checkIcon {
  flex: 6%;
  font-size: var(--iconSize);
  color: darkgreen;
  background: lime;
  padding: 5px 8px;
}

.trashIcon {
  flex: 6%;
  font-size: var(--iconSize);
  color: #ff0800;
  background-color: darkred;
  padding: 5px 8px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  main,
  .taskCounter {
    width: 60%;
  }
  header {
    font-size: 36px;
  }
  footer {
    font-size: 16px;
  }
  .taskCounter {
    font-size: 20px;
  }
  input {
    font-size: 20px;
  }
  .add,
  .checkIcon,
  .trashIcon {
    font-size: 20px;
  }
  .taskName {
    font-size: 20px;
  }
}

@media screen and (max-width: 610px) {
  main,
  .taskCounter {
    width: 65%;
  }
  header {
    font-size: 32px;
  }
  footer {
    font-size: 14px;
  }
  .taskCounter {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  .add,
  .checkIcon,
  .trashIcon {
    font-size: 16px;
  }
  .taskName {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  main,
  .taskCounter {
    width: 70%;
  }
  .taskCounter {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
  .add,
  .checkIcon,
  .trashIcon {
    font-size: 14px;
  }
  .taskName {
    font-size: 14px;
  }
}
