* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --textColor: white;
  --bgColorHF: #002d62;
  --bgColor: #7cb9e8;
  --fontStyle: monospace;
  --headerFSize: 44px;
  --footerFSize: 20px;
  --taskCounterSize: 26px;
  --taskNameSize: 24px;
  --iconSize: 22px;
  --plusIconSize: 28px;
}

body {
  background-color: var(--bgColor);
  font-family: var(--fontStyle);
}

header {
  text-align: center;
  font-size: var(--headerFSize);
  font-weight: bold;
  background-color: var(--bgColorHF);
  color: var(--textColor);
  font-family: var(--fontStyle);
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  text-align: center;
  font-size: var(--footerFSize);
  background-color: var(--bgColorHF);
  color: var(--textColor);
  font-family: var(--fontStyle);
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  width: 50%;
  height: 70vh;
  margin: 15vh auto 0 auto;
  outline: 5px solid var(--bgColorHF);
  background-color: white;
  overflow-y: auto;
}

/* Removing button element's default background */
button {
  border: none;
  outline: none;
  background: none;
  /* Removing button element's default background */
}

/* scrollbar styling*/
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgColorHF);
  /* border: 3px solid var(--bgColor); */
}
/* scrollbar styling*/

.taskCounter {
  font-size: var(--taskCounterSize);
  padding: 5px 0;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  outline: 5px solid var(--bgColorHF);
  background-color: var(--bgColorHF);
  color: var(--textColor);
  font-family: var(--fontStyle);
}

.taskAdd {
  width: 99%;
  margin: 8px auto;
  display: flex;
}

input {
  font-family: var(--fontStyle);
  font-size: var(--taskNameSize);
  padding: 10px;
  flex: 90%;
}

.add {
  font-size: var(--plusIconSize);
  background-color: var(--bgColorHF);
  color: var(--textColor);
  flex: 10%;
}

li {
  margin: 8px 5px;
  list-style-type: none;
  display: flex;
}

.taskName {
  background-color: #002d62;
  /* display: inline-block;
  width: 88%; */
  flex: 88%;
  font-size: var(--taskNameSize);
  color: var(--textColor);
  padding: 5px 10px;
}

.checkIcon {
  flex: 6%;
  font-size: var(--iconSize);
  color: darkgreen;
  background: lime;
  padding: 5px 8px;
}

.trashIcon {
  flex: 6%;
  font-size: var(--iconSize);
  color: #ff0800;
  background-color: darkred;
  padding: 5px 8px;
}
